.irs--shiny .irs-bar {
  border-top: 1px solid #9898f8!important;;
  border-bottom: 1px solid #9898f8!important;;
  background: #9898f8!important;;
}

.irs-single{
  background-color: #9898f8 !important;
}